In [1]:
# installing required SQL magic packages
!pip install sqlalchemy
!pip install ipython-sql
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\pamela\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pamela\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pamela\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: ipython-sql in c:\users\pamela\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\pamela\anaconda3\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\pamela\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\pamela\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\pamela\anaconda3\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\users\pamela\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\pamela\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pamela\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pamela\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\pamela\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\pamela\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\pamela\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\pamela\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\pamela\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\pamela\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: pymysql in c:\users\pamela\anaconda3\lib\site-packages (1.1.1)

In [2]:
import sqlite3
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# connect to sqlite database(if it doesnt exist we crete it)
%reload_ext sql

engine = create_engine('sqlite:///bonga_ecommerce.db')
%config SQL.conn_name = 'engine'

conn = sqlite3.connect('bonga_ecommerce.db')
cursor = conn.cursor()


%sql sqlite:///bonga_ecommerce.db

In [15]:
#create tables
# Create tables
cursor.execute('''
CREATE TABLE IF NOT EXISTS products(
    product_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    price DECIMAL NOT NULL,
    category TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS customers(
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS orders(
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER NOT NULL,
    order_date DATE NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS orderItems(
    order_item_id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_id INTEGER NOT NULL,
    product_id INTEGER NOT NULL,
    quantity INTEGER NOT NULL,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)
''')

In [5]:
%%sql
SELECT name FROM sqlite_master WHERE TYPE IN ('table', 'view') AND name NOT LIKE 'sqlite_%' ORDER BY 1

 * sqlite:///bonga_ecommerce.db
Done.

[('customers',), ('orderItems',), ('orders',), ('products',)]

In [14]:
# drop tables
cursor.execute('''
DROP TABLE IF EXISTS products;
''')
cursor.execute('''
DROP TABLE IF EXISTS customers;
''')
cursor.execute('''
DROP TABLE IF EXISTS orders;
''')
cursor.execute('''
DROP TABLE IF EXISTS orderItems;
''')

In [45]:
import pandas as pd
#df = pd.read_csv('./10alytics Data/products.csv')
#print(df[df.duplicated('product_id', keep=False)])  # This will show all entries where `product_id` is duplicated.

In [46]:
#df = df.drop_duplicates(subset='product_id')

In [47]:
#df.to_csv('edited_product.csv', index=False)

In [48]:
df.head()

   product_id       name   price        category
0           1  Product 1  193.52         Fashion
1           2  Product 2  475.85  Home & Kitchen
2           3  Product 3  368.68            Toys
3           4  Product 4  303.34     Electronics
4           5  Product 5   86.45            Toys

In [16]:
# function to load the data into the database table
# Function to load and clean data
def load_data_to_table(csv_path, table_name):
    df = pd.read_csv(csv_path)
    #df.drop_duplicates(subset='product_id', keep='first', inplace=True)  # Remove duplicates
    df.to_sql(table_name, conn, if_exists='append', index=False)

In [17]:
load_data_to_table('products.csv', 'products')
load_data_to_table('customers_bonga.csv', 'customers')
load_data_to_table('orders.csv', 'orders')
load_data_to_table('order_items.csv', 'orderItems')